**/models/*
**/logs/*
**/datasets/*
**/outputs/*
**/.vscode/*
**/__pycache__/*
*.png
*.tflite
*.xmodel
*.onnx
*.flatbuffers
*.zip
**/ResNet50_ImageNet_70_90_7_76GF_FP16_8_Tesla_V100S-PCIE-32GB/*
**/assets/*
**/variables/*
**/saved_model.pb
**/issues.txt
**.pb